@keyframes CoinFlip {
  form {
    transform: rotatez(0);
  }
  to {
    transform: rotatez(360deg);
  }
}

img {
  border: 5px solid black;
  border-radius: 50%;
  animation: CoinFlip 5s ease-in-out infinite;
}
