.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 25px 25px;
    margin-bottom: 25px;
}

.screen-header__title {
    font-size: 25px;
    font-weight: 600;
}

.screen-header__icons span {
    font-size: 20px;
    margin-left: 30px;
}

.screen-header__cog {
    position: relative;
}

.screen-header__notification {
    position: absolute;
    right: -5px;
    top: -5px;
}
